<ul>
    {% for slot in slots %}
    <li class="c-status-change">
        <div class="c-status-change__header">
            <a href="{{ slot.edit.url }}" class="commerce-ajax-modal c-status-change__name" title="{{ slot.edit.title }}">
                {{ slot.time_from|date('H:i') }}&mdash;{{ slot.time_until|date('H:i')}}
                <i class="icon {{ slot.edit.icon }}"></i>
            </a>


            <span style="color: #6a6a6a;">
                {{ lex('commerce_timeslots.closes_after') }}
                <span style="font-weight: 500">
                    {% if slot.closes_after|date('Ym') != slot.time_from|date('Ym') %}
                        {{ slot.closes_after|date('Y-m-d') }}
                    {% elseif slot.closes_after|date('Ymd') != slot.time_from|date('Ymd') %}
                        {{ slot.closes_after|date('d M') }}
                    {% endif %}
                    {{ slot.closes_after|date('H:i') }}
                </span>
                |
                {% if slot.max_reservations == -1 %}
                    {{ lex('commerce_timeslots.unlimited_reservations_available') }}
                {% else %}
                    <span style="font-weight: 500">{{ slot.available_reservations }}</span>/{{ slot.max_reservations }}
                    {{ lex('commerce_timeslots.reservations_available') }}
                {% endif %}
                {% if slot.price != 0 %}
                    |
                    {{ slot.price_formatted }}
                {% endif %}
            </span>

            {% if schedule != slot.schedule %}
                <span title="{{ lex('commerce_timeslots.different_schedule') }}"><i class="icon icon-exclamation"></i></span>
            {% endif %}

            {% if not slot.available %}
                <span class="c ui tiny red label" style="color: #fff !important;">
                    <i class="icon icon-times"></i> {{ lex('commerce_timeslots.unavailable') }}
                </span>
            {% endif %}

            <span class="right">
                <a href="{{ slot.duplicate.url }}" class="commerce-ajax-modal" title="{{ slot.duplicate.title }}">
                    <i class="icon {{ slot.duplicate.icon }}"></i>
                </a>
                <a href="{{ slot.delete.url }}" class="commerce-ajax-modal" title="{{ slot.delete.title }}">
                    <i class="icon {{ slot.delete.icon }}"></i>
                </a>
            </span>
        </div>
    </li>
    {% else %}
        <li class="c-status-change"><em>{{ lex('commerce_timeslots.no_date_slots') }}</em></li>
    {% endfor %}
    <li class="c-status-change">
        <a href="{{ edit_link }}" class="commerce-ajax-modal c ui tiny icon button"><i class="icon icon-plus"></i> Set slots from schedule</a>

        <a href="{{ add_slot_link }}" data-modal-title="{{ lex('commerce_timeslots.add_slot') }} ({{ for_date }})" class="commerce-ajax-modal c ui tiny icon button"><i class="icon icon-plus"></i> Add slot</a>
    </li>
</ul>